.table-footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  padding: 0 20px;
  &__input {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
  }
  &__pagination {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
  }
  &__pages {
    color: #7d8786;
    font-size: 14px;
  }
}
