.navbar {
  min-height: 1024px;
  display: flex;
  flex-direction: column;
  width: 64px;
  background-color: var(--secondary-color);

  &__navigation {
    height: 100%;
    .navbar__list {
      height: 100%;
      display: flex;
      flex-direction: column;
      .navbar__item {
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg,
        img {
          height: 24px;
          width: 24px;
          color: #828d8c;
        }
      }
      .navbar__item--active {
        display: flex;
        align-items: center;
        column-gap: 18px;
        justify-content: flex-start;
        background-color: var(--background-active-color);
        .navbar__line--active {
          width: 4px;
          height: 56px;
          background-color: var(--active-color);
        }
      }
    }
  }
}
